* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}

#droplet {
    width: 50px;
    display: inline-block;
    float: none;
}

.message {
    position: absolute;
    width: 512px;
    height: 50px;
    text-align: left;
    top: 50px;
    left: 50px;
    line-height: 0;
}

.message h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
}

.routes {
    position: absolute;
    width: 512px;
    height: 128px;
    text-align: left;
    top: 120px;
    left: 50px;
    line-height: 0;
}

.routes li {
    line-height: 28px;
    font-family: 'Quicksand';
    font-weight: 250;
    font-size: 18px;
}
